#!/bin/bash

# Config your grin nodes here

hosts=(
1:101.xx.111.yyy:1.grin.tld:testnet1
2:102.xx.222.yyy:2.grin.tld:testnet1
3:103.xx.333.yyy:3.grin.tld:testnet1
4:201.xx.111.yyy:5.grin.tld:testnet2
5:202.xx.222.yyy:GrinBench1.local:testnet2
6:203.xx.333.yyy:GrinBench2.local:testnet2
)
